{% extends "layout.html" %}

{% load django_tables2 %}
{% block content %}
<h3>{{ title }}</h3>
<h4>{{ message }}</h4>
{% load bootstrap3 %}

{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        <div class="btn-group btn-group-sm" role="group">
            {% bootstrap_button 'Фильтр' button_class='btn-primary' %}
            {% bootstrap_button 'Сброс' button_class='btn-warning' href=request.path %}
        </div>
    </form>
{% endif %}
{% render_table table %}
{% endblock %}
