{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Поликлиника</h1>
    {% load static %}
    <p><img src="{% static 'img/slide.jpg' %}" class="img-responsive"></p>
    <p class="lead">Поликлиника - небольшое Web-приложение, моделирующее элементы работы учреждения по оказанию
        амбулаторной медицинской помощи.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Расписание приема</h2>
        <p>Содержит актуальное расписание приема врачей с возможностью забронировать посещение в
           удобное время при наличии свободных талонов.</p>
    </div>
    <div class="col-md-4">
        <h2>Мои бронирования</h2>
        <p>Содержит историю бронирований посетителем посещений поликлиники.</p>
    </div>
</div>

{% endblock %}
