<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Polyclinic</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
    <script src="{% static 'js/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Поликлиника</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'appointment' %}">Расписание приема</a></li>
                    <li><a href="{% url 'mybooking' %}">Мои бронирования</a></li>
                </ul>
                {% include 'loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/respond.js' %}"></script>
    {% include 'session_security/all.html' %}
{% block scripts %}{% endblock %}

</body>
</html>
