asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
Django==5.0
django-admin-tools==0.9.3
django-autocomplete-light==3.9.7
django-bootstrap3==23.4
django-extensions==3.2.3
django-filter==23.5
django-modeladmin-reorder==0.3.1
django-session-security==2.6.7
django-tables2==2.7.0
docutils==0.20.1
idna==3.6
pyparsing==3.1.1
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
